<div class="row">
    {{!-- {{#each articles}} --}}
    <div class="col-md-4">
        <div class="card">
            <a href="/article/{{id}}">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p>{{description}}
                        {{date_created}}
                    </p>
                    
                </div>
            </a>
        </div>
        
    </div>
    {{/each}}
    
</div>